<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            {% image '@DanMainBundle/Resources/public/img/logo.png'
                output='/img/logo.png' %}
                <a class="brand logo" href="{{ path('home') }}"><img src="{{ asset_url }}" alt="Ventoonirico"/></a>
            {% endimage %}
            {#<a class="brand" href="{{ path('home') }}">Home</a>#}
            <div class="nav-collapse">
                {#{{ knp_menu_render(mainMenu, {'currentClass': 'active', 'ancestorClass': 'active'}) }}#}
            </div>

                {% if app.user %}
                    <div class="logout pull-right">
                        <a href="{{ path('logout')}}" class="icon-off" title="logout" ></a>
                    </div>
                    <div class="user pull-right">
                        {{app.user.username}}
                    </div>
                {% else %}
                    <div class="login pull-right">
                        {{ google_login_button() }}
                    </div>
                {% endif %}
        </div>
    </div>
</div>