{% extends 'DanMainBundle::layout.html.twig' %}
{% block content %}
<table class="games-collection table table-bordered">
    {% for game in games %}
        <tr>
            <td class="image">
                <img src="{{game.thumbnail}}" />
            </td>
            <td>
                <h4>{{game.name}}</h4>
                di <em>{{game.owners|join(', ')}}</em><br/>
                {{game.minPlayers}} - {{game.maxPlayers}} giocatori<br/>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock%}

