{% extends 'DanMainBundle::layout.html.twig' %}

{% block title %}Ventoonirico's collection{% endblock %}
{% block content %}
    <div id="app"></div>
{% endblock %}
    
{% macro player_user_image(user, filter) %}
    {% autoescape false %}
        <img class="img-polaroid"
             src="<%= String('{{path('user_image', {username: '_username_', filter: filter})}}').replace('_username_', {{user}}.get('username')) %>"
             title="<%= {{user}}.get('username') %>"
             alt="<%= {{user}}.get('username') %>"
        />
    {% endautoescape %}
{% endmacro %}

{% block templates %}
    {{parent()}}
    
    <script type="text/template" id="games">
        <div id="desired-game-list"></div>
        <hr/>
        <div id="game-count"></div>
        <div id="game-list"><div class="loading"></div></div>
    </script>
    
    <script type="text/template" id="game-count">
        Ventoonirico dispone di <strong><% if (!count) { %>...<% } else { %><%= count %><% } %></strong> giochi
    </script>
    
    
    <script type="text/template" id="game-list">
        <table class="game-list table table-bordered">
        </table>
    </script>
    
    <script type="text/template" id="desired-game-list">
        <p>
            Qualcuno ha voglia di giocare a...
        </p>
        <div class="desired-game-list masonry" >
        </div>
        <div class="clearfix"></div>
    </script>
    
    
    <script type="text/template" id="game">
        <tr id="game_<%= game.id %>" >
            <td class="game-image">
                <a href="http://boardgamegeek.com/boardgame/<%= game.bgg_id %>" target="_blank" ><img class="img-polaroid" src="<%= game.thumbnail %>" /></a>
            </td>
            <td>
                <div class="pull-right game-status" ></div>
                <h4><%= game.name %></h4>
                <em><%= game.owners.join(', ') %></em><br/>
                <%= game.minPlayers %> - <%= game.maxPlayers %> giocatori<br/>
            </td>
        </tr>
    </script>
    
    <script type="text/template" id="desired-game">
        <div id="desired-game_<%= game.id %>" class="well game item" >
            <h5><%= game.name %></h5>
            <div class="image" >
                <a href="http://boardgamegeek.com/boardgame/<%= game.bgg_id %>" target="_blank" ><img class="img-polaroid" src="<%= game.thumbnail %>" /></a>
            </div>
            <div class="game-status" ></div>
        </div>
    </script>
    
    <script type="text/template" id="game-status-nouser-nodesire">
    </script>
    <script type="text/template" id="game-status-user-nodesire">
        <div class="well" ><a class="desire-create icon icon-plus" href="#"></a></div>
    </script>
    
    <script type="text/template" id="game-status-desire">
        <div class="well" >
        </div>
    </script>
    
    <script type="text/template" id="game-status-desire-player_main">
        <div class="player player-main">
            <% if (user.id && user.id==owner.id) { %>
                <a class="desire-remove" href="#">
                    {{_self.player_user_image("owner", 'player_main')}}
                </a>
            <% } else { %>
                {{_self.player_user_image("owner", 'player_main')}}
            <% } %>
        </div>
    </script>
    
    <script type="text/template" id="game-status-desire-player_joined">
        <div class="player player-joined">
            <% if (user.id && user.id==join.get('user').id) { %>
                <a class="join-remove" href="#">
                    <% if (!guest) { %>
                        {{_self.player_user_image("join.get('user')", 'player_joined')}}
                    <% } else { %>
                        <img class="img-polaroid" src="{{ '/icons/player-guest.png' | apply_filter('player_guest') }}" />
                    <% } %>
                </a>
            <% } else { %>
                <% if (!guest) { %>
                    {{_self.player_user_image("join.get('user')", 'player_joined')}}
                <% } else { %>
                    <img class="img-polaroid" src="{{ '/icons/player-guest.png' | apply_filter('player_guest') }}" />
                <% } %>
            <% } %>
        </div>
    </script>
    
    <script type="text/template" id="game-status-desire-player_nobody">
        <div class="player player-nobody">
            <% if (user.id) { %>
                <a class="join-add" href="#">
                    <img class="img-polaroid" src="{{ '/icons/player-nobody.png' | apply_filter('player_joined') }}" alt="Posto libero" />
                </a>
            <% } else { %>
                <img class="img-polaroid" src="{{ '/icons/player-nobody.png' | apply_filter('player_joined') }}" alt="Posto libero" />
            <% } %>
        </div>
    </script>

{% endblock%}
