{% extends 'DanMainBundle::layout.html.twig' %}

{% block title %}Ventoonirico's collection{% endblock %}
{% block content %}
<script type="text/template" id="user_image">
    <img src="{{app.user.image | apply_filter('mini', true)}}" />
</script>
Ventoonirico dispone di <strong>{{games|length}}</strong> giochi
<table class="games-collection table table-bordered">
    {% for game in games %}
        <tr id="game_{{game.id}}" >
            <td class="image">
                <a href="http://boardgamegeek.com/boardgame/{{game.id}}" target="_blank" ><img src="{{game.thumbnail}}" /></a>
            </td>
            <td>
                {% if app.user %}
                    <div class="pull-right actions">
                        <a href="#" class="create-desire icon-plus" ></a>
                    </div>
                {% endif %}
                <h4>{{game.name}}</h4>
                di <em>{{game.owners|join(', ')}}</em><br/>
                {{game.minPlayers}} - {{game.maxPlayers}} giocatori<br/>

            </td>
        </tr>
    {% endfor %}
</table>
{% endblock%}
